<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadatrar Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h2>Cadastrar Consultor</h2>

        <form method="POST" th:action="@{/cadastrar-consultor}">
            <div class="mb-3">
                <label for="nomeConsultor" class="form-label">Nome do Consultor</label>
                <input type="text" class="form-control" id="nomeConsultor" name="nomeConsultor" placeholder="Ex: Ivo da Silva Soares" required>
            </div>

            <div class="mb-3">
                <label for="telefoneConsultor" class="form-label"> Contato do Consultor</label>
                <input type="number" class="form-control" id="telefoneConsultor" name="telefoneConsultor" placeholder="Ex: 89981173746" required>
            </div>

            <div class="mb-3">
                <label for="dataContratacao" class="form-label"> Data de Contratacao</label>
                <input type="date" class="form-control" id="dataContratacao" name="dataContratacao" required>
            </div>

            <div class="mb3">
                <label for="meta" class="form-label">Meta do Consultor no Mes</label>
                <input type="number" class="form-control" id="meta" name="meta" required>
            </div>

            <div class="mb-3">
                <label for="vendasAcumuladasMes" class="form-label">Valor de Demta alcançado no Mes</label>
                <input type="number" class="form-control" id="vendasAcumuladasMes" name="vendasAcumuladasMes" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
        </form>
    </div>

    
</body>
</html>